<IfModule mod_rewrite.c>
RewriteEngine On

# homepage
RewriteCond %{REQUEST_URI} ^/api$
RewriteRule .* symfony/web/app.php [QSA,L]

# app_lucky_number
RewriteCond %{REQUEST_URI} ^/api/number$
RewriteRule .* symfony/web/app.php [QSA,L]

# Here some of your custom rewrites...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ page.php [QSA,L]

</IfModule>
